<?xml version="1.0" encoding="utf-8"?>
<!--
Ten plik jest wykorzystywany przez proces publikowania/pakowania projektu sieci Web. Możesz dostosować zachowanie tego procesu
 poprzez edycję tego pliku MSBuild. Aby dowiedzieć się więcej o tym działaniu, odwiedź stronę https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a0f8e8cc-d328-4abf-ab09-7b91ad3ff9d5/resourcegroups/MyServicePlan/providers/Microsoft.Web/sites/StockMarket20170806013747</ResourceId>
    <ResourceGroup>MyServicePlan</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stockmarket20170806013747.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>stockmarket20170806013747.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>StockMarket20170806013747</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$StockMarket20170806013747</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:stockmarket20170806013747dbserver.database.windows.net,1433;Initial Catalog=StockMarket20170806013747_db;User ID=sajgoniarz@stockmarket20170806013747dbserver;Password=Raon31c602#" Name="Data Source=tcp:stockmarket20170806013747dbserver.database.windows.net,1433;Initial Catalog=StockMarket20170806013747_db;User Id=sajgoniarz@stockmarket20170806013747dbserver;Password=Raon31c602#" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="StockMarket.Models.Concrete.Repositories.EntityFramework.ApplicationContext, StockMarket" MigrationConfiguration="StockMarket.Migrations.Configuration, StockMarket" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:stockmarket20170806013747dbserver.database.windows.net,1433;Initial Catalog=StockMarket20170806013747_db;User Id=sajgoniarz@stockmarket20170806013747dbserver;Password=Raon31c602#</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>